name: Ruby

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby 2.6.5
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.5
      - name: Build the stack
        run: docker-compose up -d
      - name: Run tests Rspec
        env:
          RAILS_ENV: test
        run: |
          docker-compose run paack_cli bundle exec rspec
